[submodule "erlware-mode"]
	path = erlware-mode
	url = https://github.com/erlware-deprecated/erlware-mode
[submodule "protobuf-mode"]
	path = protobuf-mode
	url = https://github.com/emacsmirror/protobuf-mode
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "lua-mode"]
	path = lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "seoul256.el"]
	path = seoul256.el
	url = https://github.com/ChrisDavison/seoul256.el
[submodule "llvm-mode"]
	path = llvm-mode
	url = https://github.com/emacsmirror/llvm-mode
[submodule "qml-mode"]
	path = qml-mode
	url = https://github.com/coldnew/qml-mode
[submodule "caffe-mode"]
	path = caffe-mode
	url = https://github.com/reggies/caffe-mode
