[submodule "protobuf-mode"]
	path = protobuf-mode
	url = https://github.com/emacsmirror/protobuf-mode
[submodule "dockerfile-mode"]
	path = dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "lua-mode"]
	path = lua-mode
	url = https://github.com/immerrr/lua-mode
[submodule "qml-mode"]
	path = qml-mode
	url = https://github.com/coldnew/qml-mode
[submodule "caffe-mode"]
	path = caffe-mode
	url = https://github.com/reggies/caffe-mode
[submodule "rust-mode"]
	path = rust-mode
	url = https://github.com/rust-lang/rust-mode
[submodule "glsl-mode"]
	path = glsl-mode
	url = https://github.com/jimhourihan/glsl-mode
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "toml-mode.el"]
	path = toml-mode.el
	url = https://github.com/dryman/toml-mode.el
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode
[submodule "emacs-scala-mode"]
	path = emacs-scala-mode
	url = https://github.com/ensime/emacs-scala-mode
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/haskell/haskell-mode
[submodule "suscolors-emacs"]
	path = suscolors-emacs
	url = https://github.com/TheSuspiciousWombat/suscolors-emacs
[submodule "csharp-mode"]
	path = csharp-mode
	url = https://github.com/josteink/csharp-mode
[submodule "gas-mode"]
	path = gas-mode
	url = https://github.com/emacsattic/gas-mode
[submodule "groovy-mode"]
	path = groovy-mode
	url = https://github.com/timvisher/groovy-mode
